.custom-button {
  font-size:18px;
  width:5em;
  height:2em;
  color:white;
}
table {
  width:100%;
  font-size:18px;
}
.custom-button-secondary{
  font-size:18px;
  color:white;
  width:auto;
  height:auto;
}
