<div class="container">
  <div class="row">
  <div class="col-lg">
    <div class="card">
      <img class="card-img-top" src="/assets/logo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Administrators</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        Last updated 3 mins ago
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card">
      <img class="card-img-top" src="/assets/logo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Teachers</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        Last updated 3 mins ago
      </div>
    </div>
  </div>
  <div class="col-lg">
    <div class="card">
      <img class="card-img-top" src="/assets/logo.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
      Last updated 3 mins ago
      </div>
    </div>
  </div>
  </div>
</div>
