<div class="master-container">
  <div class="jumbotron">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" matInput >
            </mat-form-field>
          </div>
        </div>
          </form>
            <div class="custom">
                <button (click)="login()" mat-raised-button color="primary">Sign In</button>
                <button (click)="register()" mat-raised-button color="accent">Register</button>
            </div>
    </div>
  </div>
</div>
